/*This is the CSS page for our final template.*/

.footer p {
	color: #696969;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	font-family: 'Open Sans', sans-serif;
}
.header {
	height: auto;
	font-weight: bolder;
	font-size: 50px;
	text-align: center;
	background-color: #000000;
	font-family: 'Open Sans', sans-serif; 
}
h4 {
	font-style: italic; 
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	background-color: #000000;
}
h3 {
	font-size: 30px;
	font-weight: bold;
	background-color: #000000;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: darkgray;
}

img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}

.quotes {
	font-size: 50px;
}
